*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

3d-cube.build/*
3d-cube.build
3d-cube.xcodeproj
3d-cube.xcodeproj/*
CMakeScripts/*
CMakeScripts